<div class="form-actions{% if extra_class %} {{ extra_class }}{% endif %}">
  {% if leading_url and leading_label %}
    <a href="{{ leading_url }}" class="btn btn-outline-secondary">
      {% if leading_icon %}<i class="bi {{ leading_icon }} me-1"></i>{% endif %}{{ leading_label }}
    </a>
  {% endif %}
  {% if primary_submit_label %}
    <button
      type="submit"
      class="btn btn-primary"
      {% if primary_submit_name and primary_submit_value %}name="{{ primary_submit_name }}" value="{{ primary_submit_value }}"{% endif %}
    >{% if primary_icon %}<i class="bi {{ primary_icon }} me-1"></i>{% endif %}{{ primary_submit_label }}</button>
  {% endif %}
  {% if secondary_submit_name and secondary_submit_value and secondary_submit_label %}
    <button type="submit" name="{{ secondary_submit_name }}" value="{{ secondary_submit_value }}" class="btn btn-outline-primary">{{ secondary_submit_label }}</button>
  {% endif %}
  {% if cancel_url and cancel_label %}
    <a href="{{ cancel_url }}" class="btn btn-outline-secondary">{{ cancel_label }}</a>
  {% endif %}
</div>
