{% extends 'includes/list/document_list_base.html' %}
{% load static %}

{% block page_title_block %}Lista de oficios{% endblock %}
{% block page_header_title %}Lista de oficios{% endblock %}

{% block list_page_class %}oficios-list-page system-list-page--complete{% endblock %}
{% block list_page_attributes %}data-list-view-root data-view-mode="rich" data-view-storage-key="central-viagens.oficios.view-mode"{% endblock %}
{% block list_title %}Oficios salvos{% endblock %}
{% block list_header_controls %}{% include 'includes/list/mode_badge.html' with mode='complete' %}{% endblock %}
{% block list_header_aux_controls %}
{% include 'includes/list/view_toggle.html' with aria_label='Alternar visualizacao da lista de oficios' %}
{% endblock %}
{% block list_header_actions %}
<a href="{{ oficio_novo_url }}" class="btn btn-primary system-list-action-btn">Novo oficio</a>
{% endblock %}
{% block list_filter_block %}{% endblock %}

{% block page_result_content %}
{% include 'eventos/global/partials/_oficios_list_content.html' %}
{% endblock %}

{% block page_pagination %}{% include 'includes/pagination.html' %}{% endblock %}
{% block list_floating_actions %}{% include 'includes/list/floating_new_button.html' with url=oficio_novo_url label='Novo oficio' icon='bi-plus-lg' %}{% endblock %}

{% block extra_js %}
<script src="{% static 'js/list_standard.js' %}"></script>
{% endblock %}
